/* Reset */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  color: #696969;
}
.container {
  width: 800px;
  margin: 80px auto;
  border: 3px solid #d3d3d3;
  background-color: #f7f7f7;
}
.header-title {
  text-align: center;
  color: #2f2f2f;
  margin: 50px auto;
  font-size: 30px;
  position: relative;
}
.content-area {
  padding: 10px 15px;
}

.headline {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}
.text {
  margin-bottom: 10px;
}

.text2 {
  margin-bottom: 50px;
}

.yb {
  margin-bottom: 10px;
}
.signature {
  margin-bottom: 80px;
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  color: red;
}

.Copyright {
  font-size: 12px;
}
.banner-image {
  width: 100%;
  height: auto;
}

.header-title::before {
  content: "task week 1";
  background-color: #ffe70e;
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  position: absolute;
  padding: 5px 10px;
  top: -70px;
  right: 20px;
}
